<title>@(ViewData["PageTitle"])</title>

<meta name="author" content="Mr. Hamed Banaei" />
<meta name="description" content="A simple ASP.NET Core Razor Page Template for new projects." />

@*
See this link for SEO: https://www.searchenginejournal.com/important-tags-seo/156440/#close
*@